header {
  width: 100%;
  height: 5vh;
  background-color: #d8d8d8;
  border-bottom: solid 3px #000;
}

.navbar-container{
    height: fit-content;
}

.logo-app {
  text-align: start;
  font-size: 25px;
  margin-left: 15px;
  margin-top: 10px;
  color: #111;
}

.logo-app span {
  cursor: pointer;
}

.cart {
  text-align: end;
  margin-right: 40px;
}

.cart img{
    margin-top: 10px;
    cursor: pointer;
}
