.product-container{
    display: grid;
    height: 600px;
    width: 340px;
    background-color: #222;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
}

.image-container{
    display: flex;
    background-color: black;
    height: 340px;
    width: 340px;
    justify-content: center;
    align-items: center;
}

.product-info{
    color: #fff;
}

.product-price{
    font-size: 50px;
}

.btn-container{
    height: fit-content;
}