<div class="row">
  <div *ngFor="let productElement of products; let i = index">
    <div class="col-md-3 col-md-offset-1 product-container">
      <div class="image-container">
        <img
          src="{{ productElement.image }}"
          alt="reimu"
          width="320"
          height="320"
        />
      </div>
      <div class="product-info">
        <div class="product-price">
          <span>${{ productElement.price }}</span>
        </div>
        <div class="product-name">
          <h3>{{ productElement.title }}</h3>
        </div>
      </div>
      <div class="btn-container">
        <button type="button" class="btn btn-primary btn-lg add-to-cart-btn" (click)="redirectToProduct(productElement.id)">
          Open
        </button>
      </div>
    </div>
  </div>
</div>